:root {
	--main: #96ceb4;
	--bd: #ffeead;
	--bt: #d9534f;
	--bt2: #ffad60;
}
body {
	height: 100vh;
	width: 100vw;
	background-color: #ffeead;
	margin: 0px;
	padding: 0px;
}
.btn_color {
	background-color: #d9534f !important;
	border: #d9534f !important;
}
.btn_color2 {
	background-color: #0dcaf0 !important;
	border: #0dcaf0 !important;
}
#newToDo {
	background-color: #d9534f;
	border: #d9534f;
	padding: 10px;
}
#alertModal {
	z-index: 3000;
}
.modal-header {
	background-color: var(--main);
}
.navbar {
	background: #96ceb4 !important;
}
.navText {
	color: #fbf8f1 !important;
}
.mainBody {
	position: absolute;
	display: flex;
	height: 100vh;
	width: 100vw;
	flex-direction: column-reverse;
}
@media only screen and (max-width: 600px) {
	.hide_text {
		display: none;
	}
}
.containTodo {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	overflow: auto;
	align-content: flex-start;
	justify-content: space-around;
}
.card {
	margin-top: 20px !important;
}
.badgeX {
	color: rgb(255, 255, 255) !important;
	background-color: #2196f39c !important;
}
